<!DOCTYPE html>
<html lang="en">
	<head>
		 <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

	    <!-- Moment.js -->
	    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.16.0/moment.min.js"></script>
		<!-- jQuery -->
		<script   src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
			<!-- Bootstrap JS -->
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script> 
		 <!-- Bootstrap CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<!-- Custom CSS -->
		
		<link rel="stylesheet" type="text/css" href="assets/css/athlete.css">
		 <!-- Google Fonts -->
    	<link href="https://fonts.googleapis.com/css?family=Shrikhand" rel="stylesheet">
		<title>Average Athlete</title>
    </head>

 	<body>
			{{{ body }}}
			   <!-- jQuery -->
	<script type="text/javascript" src="assets/js/athlete.js"></script>
   
		 

	</body>
</html>