<script type="text/javascript" src="assets/js/athlete.js"></script>
<link rel="stylesheet" type="text/css" href="assets/css/athlete.css">


<div class="jumbotron">
  <h1>Hello, What are we doing today?</h1>
  <p>Do you want to continue training or are you ready for the race?</p>
  <p><a class="btn btn-primary btn-lg" href="/raceCompleted" role="button" id="races">Races</a>
  <a class="btn btn-primary btn-lg" href="/training" role="button" id="training">Training</a></p>
</div>


