<script type="text/javascript" src="assets/js/athlete.js"></script>
<link rel="stylesheet" type="text/css" href="assets/css/athlete.css">


<div class="container">
	<div class="row">
		<div class="col-xs-12 text-center" id="top-bar">
			<h1>Average Athlete</h1>
		</div>
	</div>
</div>

<div class="container">
	<div class="row">
		<div class="col-md-4">
			<img id="start" src="assets/img/marathonStart.jpg" width="240" height="210">
			
			 <img src="assets/img/circuit.jpg" width="240" height="210">
		</div>
		<div class="col-md-4 enter_section">
		<p>Input your username and password</p>

		<form action="/update" method="PUT">
		  <textarea name="name">Username: </textarea>
		  <textarea name="password">Password: </textarea>
		  
		</form>
 		<a class="btn btn-default" href="/routine" role="button" id="submit">Login</a>
		<a class="btn btn-primary btn-lg" href="/index" role="button" id="register">Register</a>

	
		</div>

		{{!-- <div class="col-md-3">
		<p>Upload a profile picture</p>
		<img src="..." alt="..." class="img-thumbnail" width="150" height="150">
		<button id="browse" type="submit" class="btn btn-primary">Browse</button>
		</div> --}}
	</div>
</div>
	
				
		





    


	
  
    
  

 

			

		 
	